* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 微软雅黑, sans-serif;
    font-size: 12px;
    background-color: aliceblue;
}

.page {
    width: 1100px;
    margin: 0 auto;
    padding: 16px;
    min-height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.record-table-container {
    width: 100%;
}

.record-table-container table {
    table-layout: fixed;
    font-family: 微软雅黑, sans-serif;
}

.record-table input, .record-table textarea {
    font-size: inherit;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline-color: blue;
    width: 100%;
    height: 100%;
}

.record-table input {
    padding: 0 5px;
}

.record-table textarea {
    padding: 2px 5px;
    resize: none;
    vertical-align: middle;
}

.record-table input:read-only, .record-table textarea:read-only {
    background-color: rgb(245, 245, 245);
    outline-color: #ccc;
}

.record-table tr td {
    height: 30px;
}

.record-table-container .record-table tr td label {
    padding: 0 5px 0 10px;
}

.record-table-container .record-table tr td {
    padding-bottom: 2px;
    /*text-align: right;*/
    white-space: nowrap;
}

/*.record-table-container .record-table tr td:first-child {
    text-align: left;
}*/

label span {
    visibility: hidden;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

.force {
    visibility: visible;
    color: red;
}

.group-title {
    font-size: 14px;
    height: 26px;
}

.group-title::before {
    content: "";
    border-left: 5px solid blue;
    display: inline-block;
    height: 1em;
    vertical-align: middle;
}

.group-title .group-title-label {
    padding-left: 3px;
    vertical-align: middle;
    font-weight: bold;
}